/* Main stuff */

@font-face {
  font-family: 'FiraCode';
  src: url('../fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'FiraCode', sans-serif;
    background-color: #161A30;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main, nav {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Home */

h1 {
    font-size: 3rem;
    color: #9EC8B9;
    margin: 0;
}

p {
    font-size: 1.25rem;
}

#typed-text {
  text-align: left;
}

#typed-text::after {
  content: ' ▌';
  animation: blinkCursor 0.9s infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-weight: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 0.15em;
}

a:hover {
  opacity: 85%;
  transition: opacity 0.4s ease; /* Smooth transition for color change */
  text-decoration: underline;
}
  
.flex_home nav {
  text-align: right;
}

.flex_home nav, .circle-mask img, .flex_home > div:nth-child(3) {
  margin: auto;
}

.flex_home div:nth-child(3) {
  padding-left: 0.8em;
}

.flex_home {
  display: flex;
}

.flex_home > div {
  flex: 1;
  margin: 0.1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-mask {
  width: 9em;
  height: 9em;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.circle-mask img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #161A30;
  z-index: -1;
}

/* roadmap */

.navSubPages {
  position: absolute;
  left: 0;
  padding-left: 1em;
} 
.circle-mask-2 {
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.circle-mask-2 img {
  display: block;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.roadmap main > div {
  width: 25em;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 4em;
}

.roadmap .circle-mask-2 {
  margin-right: 0.5em; /* Adjust the margin as needed */
}

.roadmap main p {
  margin: 0; /* Remove default margin for paragraphs */
}

.roadmap main p {
  color: white;
  border-bottom: 1px solid white; /* Add a bottom border as an underline */
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
}
.roadmap main > div:nth-child(3) {
  padding-left: 0;
}

.roadmap main > div {
  position: relative;
}

.roadmap main > div:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 100%; /* Position the line at the bottom of the div */
  left: 50%; /* Position the line in the middle of the div */
  transform: translateX(-50%); /* Center the line horizontally */
  width: 4px; /* Adjust the thickness of the line */
  height: 80px; /* Adjust the height of the line */
  background-color: transparent; /* Make the background transparent */
  content: '';
  border-left: 4px dotted #9EC8B9; /* Create a dotted line */
  animation: animatedLine 0.5s linear forwards; /* Adjust the animation duration and timing function */
}

@keyframes animatedLine {
  from {
    height: 0;
    opacity: 0; /* Initial opacity */
  }
  to {
    height: 4em; /* Adjust the final height of the line */
    opacity: 1; /* Final opacity */
  }
}

/* htb */

.htb main, .blogs main {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 75em;
  flex-wrap: wrap;
}

.htb main > div > div, .blogs main > div > div:not(.blog-mask) {
  border-bottom: 1px solid white;
}

.htb main > div > div p, .blogs main > div > div p {
  margin: 0.3em 0 0.3em 0.5em;
  font-size: 1rem;
  background: url('../images/cross.png') right/cover no-repeat;
  background-size: 1.2em;
  width: 97%;
}

.htb main > div, .blogs main > div {
  border: 1px solid white;
  width: 23em;
  height: 15em;
  cursor: pointer;
  margin-bottom: 1em;
}

.htb main > div:hover, .blogs main > div:hover {
  transform: scale(1.05);
}

#boxList {
  text-align: center;
}

pre {
  margin-top: 2.1em;
  color: #9EC8B9;
}

/* footer */

footer {
  position: absolute;
  bottom: 1em;
  text-align: center;
  width: 38%;
  margin: 0 auto;
}

footer p {
  font-size: 0.8rem;
}

/* blogs */

.blog-mask {
  width: 100%;
  height: 89%;
  overflow: hidden;
  position: relative;
  border: none;
}

.blog-mask img {
  display: block;
  width: 100%;
  scale: 1.15;
  object-fit: cover;
}

.blogpost main {
  width: 60%;
  height: 100%;
  margin-top: 10%;
}

.blogpost section {
  margin-bottom: 2em;
}

.blogpost section {
  margin-bottom: 2em;
}

.blogpost section:last-child {
  margin-bottom: 20%;
}

.blogpost p {
  font-size: 1rem;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.blogpost h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #9EC8B9;
}

.blogpost h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.blogpost img {
  width: 70%;
  margin: 2em auto;
}

.blogpost #info {
  display:flex;
  justify-content: space-between;
  width: 85%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.blogpost span {
  display: block;
}

/* mobile nav */

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 768px) {

  .navSubPages {
    padding-left: 0;
    z-index: 1;
  }

  .hidden {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  nav {
    background: rgba(0, 0, 0, 0.9);
  }

  nav ul li {
    border-bottom: 1px solid white; /* Add a bottom border as an underline */
    text-align: left;
    padding: 0.15em 0;
  }

  nav ul li:first-child {
    border-top: 1px solid white; /* Add a bottom border as an underline */
  }

  nav ul li a {
    margin-left: 0.2em;
  }

  nav ul li a:hover {
    text-decoration: none;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 1.5em;
    font-size: 1.7rem;
    left: 0;
  }

  .htb main {
    padding-top: 4em;
  }

  .home main {
    padding-right: 5em;
  }

  footer {
    font-size: 2rem;
  }

  .blogpost main {
    width: 95%;
  }

  .blogpost img {
    width: 100%;
  }

  .blogpost h1 {
    margin-top: 1em;
  }

  .blogpost #info {
    width: 60%;
    margin-top: 2em;
    line-height: 1.3;
  }
}